In [1]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen
import requests
import json

headers = requests.utils.default_headers()
headers.update({
    'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0',
})

# POLAND

---



---

In [3]:
pages_pl = []

for i in range(1, 10):
  URL_PL = f"https://www.otomoto.pl/promoted?page={i}"

  page_html = requests.get(URL_PL, headers=headers)
  page_html = soup(page_html.content, "lxml")
  pages_pl.append(page_html)

In [55]:
f = open("cars_PL.csv", "w")
csv_headers = "name;year;mileage;capacity;fuel;other;price;currency\n"
f.write(csv_headers)

for page in pages_pl:
    car_cards = page.findAll("article", {"class":"item"})
    for card in car_cards:
        car_name = card.find("a", {"class":"ds-link ds-secondary"}).text
        capacity = 0
        year = 0
        mileage = 0
        fuel = ""
        others = []
        
        try:
            price = card.findAll("div", {"class":"hidden-mobile"})[0].span.text
        except:
            price = card.findAll("div", {"class":"hidden-mobile"})[1].span.text
        
        price = float(price.replace(" ", "").replace(",", "").replace(".", ""))
        
        features = card.ul.findAll("li")
        for feature in features:
            feature = feature.text
            if "km" in feature and feature[0].isdigit():
                mileage = feature.replace(" ", "").replace("km", " km")
            elif "m3" in feature and feature[0].isdigit():
                capacity = feature.replace(" ", "").replace("cm", " cm3")
            elif (len(feature.replace(" ", "")) == 4 and feature[:2] == "20") or (len(feature.replace(" ", "")) == 4 and feature[:2] == "19"):
                year = int(feature.replace(" ", ""))
            elif "iesel" in feature or "etrol" in feature:
                fuel = feature
            else:
                others.append(feature)

        f.write(f"{car_name};{year};{mileage};{capacity};{fuel};{others};{price};PLN\n")
        
f.close()

# GREAT BRITAIN

---



---

In [43]:
from requests_html import HTMLSession
pages_uk = []

for i in range(1, 10):
    session = HTMLSession()

    URL_UK = f"https://www.gumtree.com/cars/uk/page{i}"

    page_html = session.get(URL_UK)
    page_html = soup(page_html.content, "lxml")
    pages_uk.append(page_html)

In [67]:
pages_uk = pages_uk[:4]

In [69]:
for i in range(5, 10):
    session = HTMLSession()

    URL_UK = f"https://www.gumtree.com/cars/uk/page{i}"

    page_html = session.get(URL_UK)
    page_html = soup(page_html.content, "lxml")
    pages_uk.append(page_html)

In [77]:
pages_uk = pages_uk[:-5]

In [75]:
for i in range(8, 13):
    session = HTMLSession()

    URL_UK = f"https://www.gumtree.com/cars/uk/page{i}"

    page_html = session.get(URL_UK)
    page_html = soup(page_html.content, "lxml")
    pages_uk.append(page_html)

In [78]:
f = open("cars_UK.csv", "w")
csv_headers = "name;year;mileage;engine_size;fuel;other;price;currency\n"
f.write(csv_headers)

for page in pages_uk:
    car_cards = page.findAll("li", {"class":"natural"})
    print(len(car_cards))
    for card in car_cards:
        car_name = card.find("h2", {"class":"listing-title"}).text.replace("\n", "")
        price = card.find("span", {"class":"listing-price"}).text.replace("\n", "")
        price = float(price[1:].replace(",", ""))
        
        engine_size = 0
        year = 0
        mileage = 0
        fuel = ""
        others = []
        
        features = card.find("ul", {"class":"listing-attributes inline-list"}).findAll("li")
        for feature in features:
            feature = feature.text
        for feature in features:
            feature = feature.text.replace("\n", "")
            if "Mileage" in feature:
                mileage = feature.replace("Mileage", "")
            elif "Engine" in feature:
                engine_size = feature.replace("Engine size", "")
            elif "Year" in feature:
                year = int(feature.replace("Year", ""))
            elif "Fuel" in feature:
                fuel = feature.replace("Fuel type", "")
            else:
                others.append(feature)
        try:
            f.write(f"{car_name};{year};{mileage};{engine_size};{fuel};{others};{price};GBP\n")
        except:
            pass

f.close()

25
25
25
25
25
25
25

# GERMANY

---
---

In [106]:
# pages_de = []

for i in range(11, 31):
  URL_DE = f"https://www.autoscout24.com/lst/?sort=standard&desc=0&ustate=N%2CU&size=20&page={i}&atype=C&"

  page_html = requests.get(URL_DE, headers=headers)
  page_html = soup(page_html.content, "lxml")
  pages_de.append(page_html)

In [108]:
f = open("cars_DE.csv", "w")
csv_headers = "name;year;mileage;engine_power_kW;engine_power_hp;fuel;consumption;ecology;gearbox;price;currency\n"
f.write(csv_headers)

for page in pages_de:
    car_cards = page.findAll("div", {"class":"cldt-summary-full-item-main"})
    for card in car_cards:
        car_name = card.find("h2", { "class":"cldt-summary-makemodel"}).text
        price = (card.find("span", {"class":"cldt-price"}).text.replace("â‚¬", "").replace(".-", "").
                        replace(",", " ").replace("VAT deductible", "").strip())

        features = card.find("ul", { "data-item-name":"vehicle-details"}).findAll("li")
        features = [feature.text.replace("\n", "") for feature in features]
        
        mileage = features[0].replace(",", "")
        year = int(features[1].split("/")[1])
        engine_power_kw, engine_power_hp = features[2].replace(")", "").split("(")
        gearbox = features[5]
        fuel = features[6]
        consumption = features[7].split("(comb)")[0]
        ecology = features[8].split("(comb)")[0]
        
        f.write(f"{car_name};{year};{mileage};{engine_power_kw};{engine_power_hp};{fuel};{consumption};{ecology};{gearbox};{price};EUR\n")
f.close()

# UNITED STATES

---
---

In [121]:
pages_us = []

for i in range(1, 21):
    session = HTMLSession()
    URL_US = f"https://www.truecar.com/used-cars-for-sale/listings/?page={i}&sort[]=best_match"

    page_html = session.get(URL_US)
    page_html = soup(page_html.content, "lxml")
    pages_us.append(page_html)

In [147]:
f = open("cars_US.csv", "w")
csv_headers = "name;year;mileage;nr_of_accidents;color_exterior;color_interior;price;currency\n"
f.write(csv_headers)

for page in pages_us:
    car_cards = page.findAll("div", {"class": "vehicle-card-body"})
    for card in car_cards:
        car_name = card.find("span", {"class":"vehicle-header-make-model text-truncate"}).text
        c_name = card.find("div", {"data-test":"vehicleCardTrim"}).text
        car_name += " " + c_name
        
        year = int(card.find("span", {"class":"vehicle-card-year"}).text.replace(" ", ""))
        
        try:
            price = card.find("h4", {"data-test":"vehicleCardPricingBlockPrice"}).text.replace(",", "")[1:]
        except:
            continue

        
        mileage = card.find("div", {"data-test":"vehicleMileage"}).text.replace(",", "")
        color_ext, color_int = (card.find("div", {"data-test":"vehicleCardColors"}).
                                           text.lower().replace("interior", "").replace("exterior", "").split(","))
        accidents = card.find("div", {"data-test":"vehicleCardCondition"}).text.split(",")[0]
        if accidents == "No accidents":
            accidents = 0
        else:
            accidents = int(accidents.split(" ")[0])
        
        f.write(f"{car_name};{year};{mileage};{accidents};{color_ext};{color_int};{price};USD\n")

f.close()

# THE NETHERLANDS

---



---

In [148]:
pages_nl = []

for i in range(1, 21):
    URL_NL = f"https://www.trucksnl.com/passenger-cars?page={i}"
    page_html = requests.get(URL_NL, headers=headers)
    page_html = soup(page_html.content, "lxml")
    pages_nl.append(page_html)

In [178]:
f = open("cars_NL.csv", "w")
csv_headers = "name;year;mileage;fuel;capacity;gearbox;price;currency\n"
f.write(csv_headers)

for page in pages_nl:
    car_cards = page.findAll("div", {"class":"row no-gutters"})
    for card in car_cards:
        car_name = card.find("a", { "class":"card-title"}).text.strip()
        price = card.find("div", {"class":"extra-information"}).strong.text.replace(",", "").strip()
        if price == "Price on request":
            continue
        else: price = price.replace(",", "")[1:]
        features = card.find("ul", {"class":"list-properties"}).findAll("li")
        
        year = features[0].text
        try:
            year = int(year)
        except:
            year = "-"
            
        try:
            mileage = features[1].text.replace(",", "")
        except: pass
        gearbox = features[2].text
        fuel = features[3].text
        capacity = features[4].text
        
        try:
            f.write(f"{car_name};{year};{mileage};{fuel};{capacity};{gearbox};{price};EUR\n")
        except:
            continue

f.close()